*{
	overflow-y: invisible;
}
#brand{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 10px;
}
#fix{
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
}
#pic{
	position: relative;
	padding-bottom: 25%;
}